<a href="https://colab.research.google.com/github/ThiinhUET/Fault-Detection-IoT/blob/main/FPOF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# !pip install mlxtend==0.17.2
!pip install --upgrade mlxtend
!pip show mlxtend

Requirement already up-to-date: mlxtend in /usr/local/lib/python3.7/dist-packages (0.18.0)
Requirement already satisfied, skipping upgrade: joblib>=0.13.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.1)
Requirement already satisfied, skipping upgrade: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (54.0.0)
Requirement already satisfied, skipping upgrade: scipy>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied, skipping upgrade: pandas>=0.24.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.1.5)
Requirement already satisfied, skipping upgrade: scikit-learn>=0.20.3 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (0.22.2.post1)
Requirement already satisfied, skipping upgrade: numpy>=1.16.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.19.5)
Requirement already satisfied, skipping upgrade: matplotlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->mlxtend) (2.8.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->mlxtend) (2018.9)
Requirement already satisfied, skipping upgrade: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied, skipping upgrade: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied, skipping upgrade: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.2->mlxtend) (1.15.0)
Name: mlxtend
Version: 0.18.0
Summary: Machine Learning Library Extensions
Home-page: https://github.com/rasbt/mlxtend
Author: Sebastian Raschka
Author-email: mail@sebastianraschka.com
License: BSD 3-Clause
Location: /usr/local/lib/python3.7/dist-packages
Requires: numpy, joblib, scikit-learn, setuptools, scipy, matplotlib, pandas
Required-by:

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [9]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import fpgrowth
from mlxtend.frequent_patterns import fpmax
import itertools
import copy
import numpy as np
from scipy.stats import stats
import random
import os
import sys

In [10]:
TIME_WINDOW_IN_MINUTES = 1
THRESHOLD_CV =0.9

In [11]:
import pickle
from mlxtend.preprocessing import TransactionEncoder

def save_data(dataset, loc_file, pre_loc_file_url = '/content/drive/My Drive/DuLieuNhaHH102/model/'):
  loc_file = pre_loc_file_url + loc_file
  with open(loc_file, 'wb') as filehandle:
      pickle.dump(dataset, filehandle)
def load_data(loc_file, pre_loc_file_url = '/content/drive/My Drive/DuLieuNhaHH102/model/'):
  loc_file = pre_loc_file_url + loc_file
  with open(loc_file, 'rb') as filehandle:
      dataset = pickle.load(filehandle)
  return dataset


def remove_subset(list_of_list):              
    sets={frozenset(e) for e in list_of_list}  
    us=[]
    while sets:
        e=sets.pop()
        if any(e.issubset(s) for s in sets) or any(e.issubset(s) for s in us):
            continue
        else:
            us.append(sorted(list(e)))   
    return us

def convert_transaction_to_df_one_hot_vector(_transaction_dataset, sparse_format = True):
  te = TransactionEncoder()
  if(sparse_format):
    te_ary = te.fit(_transaction_dataset).transform(_transaction_dataset, sparse=True)
    return pd.DataFrame.sparse.from_spmatrix(te_ary, columns=te.columns_)
  te_ary = te.fit(_transaction_dataset).transform(_transaction_dataset)
  return pd.DataFrame(te_ary, columns=te.columns_)

def print_list_with_minK(list_of_list, min_k_item):
  count = 0
  for item in list_of_list:
    if(len(item) >= min_k_item):
      count +=1
      print(item)
  print(f"Len -origin:{len(list_of_list)} ")
  print(f"Len -filter by min_k_item={min_k_item} :{count} ")

def is_binary_device_by_df(df):
    if (df['device_id'][0:1] == 'M' 
        or df['device_id'][0:1] == 'D' 
        or df['device_id'][0:2] == 'L0'):
        val = bool(True)
    else:
        val = bool(False)
    return val
 
def is_binary_device_by_id(device_id):
    if (device_id[0:1] == 'M' 
        or device_id[0:1] == 'D' 
        or device_id[0:2] == 'L0'):
        val = bool(True)
    else:
        val = bool(False)
    return val

In [12]:
def find_groups_dev(df_transaction_dataset, min_threshold = 0.9, max_len_itemset = 10, algo = 0, _verbose = 1, _low_meomory = False):
  items  = df_transaction_dataset.columns
  related_dev_groups = []
  col_names =  ['support', 'itemsets']
  df = pd.DataFrame(columns=col_names)

  #find itemset tight with each specific item
  for item in items:
    current_group = []
    # get all transaction that contain current {item} -> make *item-transaction
    data_extract = df_transaction_dataset[df_transaction_dataset[item] == True]
    if algo == 0:
      # using fpgrowth algorithm
      frequent_itemset = fpgrowth(data_extract, min_support=min_threshold, use_colnames=True, max_len = max_len_itemset, verbose=_verbose)
    elif algo == 1:
      # using apriori algorithm
      frequent_itemset = apriori(data_extract, min_support=min_threshold, use_colnames=True ,max_len = max_len_itemset ,verbose=_verbose,low_memory = _low_meomory)
    else:
      frequent_itemset = fpmax(data_extract, min_support=min_threshold, use_colnames=True,max_len = max_len_itemset, verbose=_verbose)
    
    frames = [df, frequent_itemset]
    df = pd.concat(frames) 
    for x in frequent_itemset.itemsets:
      list_fre_items = sorted(list(x)) 
      if (item in x) & (len(x) > 1):
        current_group.append(list_fre_items)
    related_dev_groups = related_dev_groups + remove_subset(current_group)
  related_dev_groups.sort()
  related_dev_groups = list(related_dev_groups for related_dev_groups,_ in itertools.groupby(related_dev_groups))
  return related_dev_groups, df

In [13]:
def get_support(df, relate_list):
  tmp = df.copy(deep=True)
  tmp.index = pd.RangeIndex(len(tmp.index))
  for i, row in tmp.iterrows():
    if(sorted(list(row['itemsets'])) not in remove_subset(relate_list)):
      tmp.drop(i, inplace=True)
  return tmp.reset_index()

In [14]:
def data_preprocessing(data):

  data['device_value'] =  data['device_value'].replace(['ON', 'OPEN'], 1)
  data['device_value'] =  data['device_value'].replace(['OFF', 'CLOSE'], 0)

  data.device_value = pd.to_numeric(data.device_value, errors='raise')

  data['is_binary_device'] = data.apply(is_binary_device_by_df, axis=1)

  data.drop(data[data['device_id'].astype(str).str[0:2] == 'BA'].index, axis =0, inplace = True)

  data.drop(['ann'], axis=1, inplace =True)

  items = data['device_id'].unique()
  print(f'length of items: {len(items)}, items: {items}')
  print(data.head())
  print(data.info())

   * Identifiers starting with "BA" indicate sensor battery levels
   * Identifiers starting with "D" indicate magnetic door sensors
   * Identifiers starting with "L" and "LL" indicate light switches
   * Identifiers starting with "LS" indicate light sensors
   * Identifiers starting with "M" indicate infrared motion sensors
   * Identifiers starting with "MA" indicate wide-area infrared motion sensors
   * Identifiers starting with "T" indicate temperature sensors

In [15]:
filename = '/content/drive/My Drive/DuLieuNhaHH102/ann_format.txt'
data_raw = pd.read_csv(filename, sep =' ', names = ["date", "time", "device_id", "device_value", "ann"],
                       parse_dates ={'datetime': ['date', 'time']} )

In [16]:
data = data_raw.copy(deep=True)
data_preprocessing(data)

length of items: 63, items: ['M021' 'LS013' 'MA020' 'M019' 'M018' 'MA013' 'LS006' 'LS010' 'LS003'
 'LS004' 'LS005' 'LS015' 'LS002' 'LS014' 'LS022' 'LS016' 'LS008' 'LS007'
 'LS001' 'LS020' 'LS011' 'LS017' 'LS012' 'LS021' 'LS019' 'LS018' 'M017'
 'MA014' 'M012' 'M011' 'MA010' 'MA003' 'M002' 'M001' 'D002' 'M022' 'L003'
 'M016' 'M015' 'M004' 'M006' 'M005' 'M007' 'D005' 'M008' 'T104' 'MA009'
 'L002' 'LS009' 'T105' 'MA023' 'LS023' 'D006' 'LL005' 'L005' 'L004' 'T102'
 'T103' 'T101' 'LL001' 'L001' 'D001' 'D003']
                     datetime device_id  device_value  is_binary_device
0  2011-06-15 00:06:32.834414      M021             1              True
1  2011-06-15 00:06:33.988964      M021             0              True
3  2011-06-15 00:15:01.957718     LS013             6             False
4  2011-06-15 00:25:01.892474     LS013             7             False
16 2011-06-15 03:37:46.585185      M021             1              True
<class 'pandas.core.frame.DataFrame'>
Int64Index: 407584 entries, 0 to 413137
Data columns (total 4 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   datetime          407584 non-null  datetime64[ns]
 1   device_id         407584 non-null  object
 2   device_value      407584 non-null  int64
 3   is_binary_device  407584 non-null  bool
dtypes: bool(1), datetime64[ns](1), int64(1), object(1)
memory usage: 12.8+ MB
None

In [17]:
# save_data(data, 'ann_data.data')
data = load_data('ann_data.data')
data

                         datetime device_id  device_value  is_binary_device
0      2011-06-15 00:06:32.834414      M021             1              True
1      2011-06-15 00:06:33.988964      M021             0              True
3      2011-06-15 00:15:01.957718     LS013             6             False
4      2011-06-15 00:25:01.892474     LS013             7             False
16     2011-06-15 03:37:46.585185      M021             1              True
...                           ...       ...           ...               ...
413130 2011-08-15 22:44:24.343584     LS020            23             False
413132 2011-08-15 22:54:24.303897     LS020            22             False
413133 2011-08-15 22:54:25.727398     LS021            17             False
413134 2011-08-15 23:04:25.687194     LS021            18             False
413137 2011-08-15 23:24:24.044725     LS020            23             False

[407584 rows x 4 columns]

In [18]:
data[data['datetime'].astype(str).str.contains("2011-08-02")]

                         datetime device_id  device_value  is_binary_device
340492 2011-08-02 04:09:34.640506      M021             1              True
340493 2011-08-02 04:09:34.848034     MA020             1              True
340495 2011-08-02 04:09:36.526643      M021             0              True
340496 2011-08-02 04:09:36.701572     MA020             0              True
340497 2011-08-02 04:09:37.979244      M021             1              True
...                           ...       ...           ...               ...
347439 2011-08-02 23:42:36.059033      M021             0              True
347440 2011-08-02 23:42:40.726128     LS013             2             False
347441 2011-08-02 23:43:00.296761     LS022             0             False
347442 2011-08-02 23:46:33.704034     LS018             0             False
347444 2011-08-02 23:52:22.865609     LS020             0             False

[6863 rows x 4 columns]

In [19]:
# Gen transaction dataset
transaction_dataset = []

number_of_hours =30*24 # ~ 4 weeks
# '2011-06-15 00:06:32.834414'
start_date = data.iloc[0].datetime
# 2011-07-15 00:06:32.834414'
last_datetime =  start_date + datetime.timedelta(hours=number_of_hours)

data_to_make_group_dev = data[(data['datetime'] < last_datetime)].copy(deep=True)
start = copy.deepcopy(start_date)
num_window = 0
while start<last_datetime:
    end = start + datetime.timedelta(minutes=(TIME_WINDOW_IN_MINUTES))
    data_extract = data_to_make_group_dev[(data_to_make_group_dev['datetime'] >= start) & (data_to_make_group_dev['datetime'] < end)]
    if not data_extract.empty:
      current_items = list(data_extract.device_id.unique())
      num_of_items = len(current_items)
      if(num_of_items>1):
        num_window +=1
        transaction_dataset.append(current_items)
        
    start = end

print(f'number of window: {num_window}')

number of window: 14108

In [20]:
transaction_dataset = load_data('ann_transaction_dataset_1m.data')
# group_dev = load_data('ann_group_dev_1m.data')
# print_list_with_minK(group_dev,2)
# print(group_dev)

In [21]:
df_transaction_dataset = convert_transaction_to_df_one_hot_vector(transaction_dataset)
df_transaction_dataset
# TODO:

       D001  D002  D005  D006  L001  L002  ...  MA023  T101  T102  T103  T104  T105
0         0     0     0     0     0     0  ...      0     0     0     0     0     0
1         0     0     0     0     0     0  ...      0     0     0     0     0     0
2         0     0     0     0     0     0  ...      0     0     0     0     0     0
3         0     0     0     0     0     0  ...      0     0     0     0     0     0
4         0     0     0     0     0     0  ...      0     0     0     0     0     0
...     ...   ...   ...   ...   ...   ...  ...    ...   ...   ...   ...   ...   ...
14103     0     0     0     0     0     0  ...      0     0     0     0     0     0
14104     0     0     0     0     0     0  ...      0     0     0     0     0     0
14105     0     0     0     0     0     0  ...      0     0     0     0     0     0
14106     0     0     0     0     0     0  ...      0     0     0     0     0     0
14107     0     0     0     0     0     0  ...      0     0     0     0     0     0

[14108 rows x 62 columns]

In [23]:
# group_dev = []
# group_dev,df = find_groups_dev(df_transaction_dataset,0.6, 10, algo=3, _verbose=0)

# print(f'origin: {len(group_dev)}')
# print(group_dev)
# print_list_with_minK(group_dev,2)

# group_dev = remove_subset(group_dev)
# len_group_dev =  len(group_dev)
# print(f'after remove subset:{len_group_dev} ')
print_list_with_minK(group_dev,2)

TypeError: ignored

In [ ]:
save_data(transaction_dataset, 'ann_transaction_dataset_1m.data')
save_data(group_dev, 'ann_group_dev_1m.data')

In [30]:
group_dev = []
group_dev, df = find_groups_dev(df_transaction_dataset,0.67, 10, algo=3, _verbose=0)
FPOF_input = get_support(df, group_dev)
print(FPOF_input)

    index   support                                        itemsets
0       0  0.701681                      (D002, LS003, MA003, M002)
1       1  0.718487                      (D002, M001, LS003, MA003)
2       2  0.710084                (D002, LS001, M001, MA003, M002)
3       3  0.691667                       (LS008, M007, M008, D005)
4       4  0.691667                       (M007, M008, LS007, D005)
5       5  0.750000                        (M007, M008, D006, D005)
6       6  0.818182        (LS001, L001, M001, LL001, LS003, MA003)
7       7  0.727273        (LS001, L001, LL001, LS003, MA003, M002)
8       8  0.705882        (LS009, LS003, MA003, L002, MA009, M002)
9       9  0.951368                      (MA013, L003, M018, LS013)
10     10  0.723404  (MA014, LS018, LS017, M018, M017, LS014, L004)
11     11  0.714286         (MA020, LS018, L005, M018, LL005, M019)
12     12  0.750000        (LS001, L001, M001, LL001, LS003, MA003)
13     28  0.673925                                  (LS010, LS011)
14     29  0.672971                                  (LS014, LS012)
15     36  0.687552                                  (LS019, LS020)
16     40  0.808219                           (MA023, LS023, MA020)
17     41  0.723214                      (M001, LS003, MA003, M002)
18     45  0.709622                                    (M005, M006)
19     46  0.682749                                   (M006, MA003)
20     47  0.905702                                    (M005, M006)
21     50  0.676077                 (MA014, M012, M011, M018, M017)
22     51  0.687964                (MA014, MA010, M012, M011, M017)
23     52  0.811293               (MA014, MA010, M012, M011, MA003)
24     53  0.676077                 (MA014, M012, M011, M018, M017)
25     54  0.687964                (MA014, MA010, M012, M011, M017)
26     55  0.811293               (MA014, MA010, M012, M011, MA003)
27     56  0.732143                            (LS014, M015, MA014)
28     57  0.775000                             (M015, M016, MA014)
29     58  0.717262                            (LS014, M016, MA014)
30     62  0.816420                                   (MA020, M021)
31     63  0.957265                                   (MA020, M022)
32     67  0.715596               (MA014, MA010, M012, M011, MA003)

In [31]:
save_data(FPOF_input, 'FPOF_input.data')

In [32]:
# Create test transaction
test_transaction_dataset = []

number_of_hours =2*24 # ~ 2days
# 2011-08-01 00:27:55.907856'
start_date = data.iloc[333873].datetime
# 2011-08-02 23:52:22.865609'
test_last_datetime =  start_date + datetime.timedelta(hours=number_of_hours)

test_data_to_make_group_dev = data[(data['datetime'] < test_last_datetime)].copy(deep=True)
test_start = copy.deepcopy(start_date)
test_num_window = 0
while test_start < test_last_datetime:
    test_end = test_start + datetime.timedelta(minutes=(TIME_WINDOW_IN_MINUTES))
    test_data_extract = test_data_to_make_group_dev[(test_data_to_make_group_dev['datetime'] >= test_start) & (test_data_to_make_group_dev['datetime'] < test_end)]
    if not test_data_extract.empty:
      test_current_items = list(test_data_extract.device_id.unique())
      num_of_items = len(test_current_items)
      if(num_of_items>1):
        test_num_window +=1
        test_transaction_dataset.append(test_current_items)
        
    test_start = test_end

print(f'number of window: {test_num_window}')

number of window: 852

In [33]:
# save_data(test_transaction_dataset, 'test_transaction_dataset.data')
df_test_transaction_dataset = convert_transaction_to_df_one_hot_vector(test_transaction_dataset)
df_test_transaction_dataset

     D002  D005  D006  L001  L002  L003  ...  MA023  T101  T102  T103  T104  T105
0       0     0     0     0     0     0  ...      0     0     0     0     0     0
1       0     0     0     0     0     0  ...      0     0     0     0     0     0
2       0     1     0     0     0     0  ...      0     0     0     0     0     0
3       0     0     0     0     0     0  ...      0     0     0     0     0     0
4       0     0     0     0     0     0  ...      0     0     0     0     0     0
..    ...   ...   ...   ...   ...   ...  ...    ...   ...   ...   ...   ...   ...
847     0     0     0     0     0     0  ...      0     0     0     0     0     0
848     0     0     0     0     0     0  ...      0     0     0     0     0     0
849     0     0     0     0     0     0  ...      0     0     0     0     0     0
850     0     0     0     0     0     0  ...      0     0     0     0     0     0
851     0     0     0     0     0     0  ...      0     0     0     0     0     0

[852 rows x 60 columns]

In [34]:
# FPOF
#' @param data \code{data.frame} or \code{transactions} from \code{arules} with input data
#' @param minSupport minimum support for FPM
def preFPOF(transaction_db):
  transaction_db.columns[      
    (transaction_db == 1)        # mask 
    .any(axis=0)     # mask
  ]
  df_dict = dict(
    list(
        transaction_db.groupby(transaction_db.index)
    )
  )
  list_items = []
  for k, v in df_dict.items():               # k: name of index, v: is a df
    check = v.columns[(v == 1).any()]
    if len(check) > 0:
        list_items.append(check.to_list())
  df = pd.DataFrame({'items':list_items})      
  # print(type(list_items))
  return df

In [42]:
def FPOF(fps, transaction_db):
  my_df = preFPOF(df_test_transaction_dataset)
  fps_lenght = len(fps)
  tmp = my_df.copy(deep=True)
  for k, v in tmp.iterrows():
    score = 0
    for i, row in fps.iterrows():
      if(set(row['itemsets']).issubset(set(v['items']))):
        score = score + row['support']
    tmp.loc[k,'FPOF_value'] = score / fps_lenght
  return tmp

In [43]:
tmp = FPOF(FPOF_input, df_test_transaction_dataset)
print(tmp)

                                                 items  FPOF_value
0    [LS018, LS020, M011, M012, M017, M018, M019, M...    0.153523
1                           [M005, M006, MA003, MA010]    0.069639
2                     [D005, LS007, LS008, M007, M008]    0.041919
3                           [LS004, LS007, M007, M008]    0.000000
4    [LS005, LS006, LS008, M005, M006, M007, M008, ...    0.069639
..                                                 ...         ...
847                              [LS005, LS006, LS007]    0.000000
848                                     [LS010, LS014]    0.000000
849                                     [LS015, LS022]    0.000000
850                       [LS002, LS005, LS006, LS007]    0.000000
851                              [LS003, LS004, LS010]    0.000000

[852 rows x 2 columns]

In [48]:
final_df = tmp.sort_values(by=['FPOF_value'], ascending=False)
print(final_df.loc[final_df['FPOF_value'] > 0])

                                                 items  FPOF_value
539  [L001, LL001, LS001, LS003, M001, M002, M005, ...    0.314637
749  [LS003, LS011, LS014, M005, M006, M011, M012, ...    0.290568
360  [LS003, LS006, LS007, LS010, LS011, LS012, LS0...    0.269549
451  [D002, L003, LS001, LS003, LS013, LS017, LS018...    0.268821
566  [L004, LS005, LS006, LS007, LS012, LS014, LS01...    0.265476
..                                                 ...         ...
67                        [LS002, LS010, LS012, LS014]    0.020393
218                              [LS010, LS012, LS014]    0.020393
62                        [LS002, LS010, LS012, LS014]    0.020393
73                        [LS002, LS010, LS012, LS014]    0.020393
295                       [LS003, LS011, LS012, LS014]    0.020393

[276 rows x 2 columns]

- cắt range của các cảm biến
- tìm thời điểm mà tất cả các cảm biến có giá trị
- Thay đổi cấu trúc của database test gắn thêm label
- tìm frequent pattern của các cảm biến ứng với từng giá trị
- chỉ xét 1 lỗi tại 1 time windown
- xác định lỗi theo rank FPOF value > 0
- thử min_support của FPmax. (0.6-0.75)